@font-face {
    font-family: "SegoeWP";
    src: url("../fonts/SegoeWP-Light/SegoeWP-Light.ttf") format("truetype");
}

@font-face {
    font-family: "SegoeWPN";
    src: url("../fonts/SegoeWPN/SegoeWPN.ttf") format("truetype");

}

@font-face {
    font-family: "SegoeWPN-Light";
    src: url("../fonts/SegoeWPN-Light/SegoeWPN-Light.ttf") format("truetype");
}
body{
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    min-height: 80px;
}

.header__logo {
    align-self: center;
}

.header__shortNavigation {
    display: none;
    padding: 5px 10px;
    align-self: center;
    color: #fff;
    font-size: 1.250em;
    background-color: #5094f2;
}

.navigation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3px;

}

.navigation__item {
    list-style: none;
    padding: 15px;
    font-family: SegoeWPN, serif;
    font-size: 1.250em;
    cursor: pointer;
}

.navigation__item-gray {
    color: #6c6c6c;
}

.navigation__item-gray:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid #5094f2;
}

.navigation__item-active {
    margin-bottom: -3px;
    border-bottom: 3px solid #5094f2;
}

.content {
    position: relative;
}

.horizontalCard {
    position: relative;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.horizontalCard-blurImg:before {
    content: '';
    position: absolute;
    top: 40%;
    left: 20px;
    background: url(../image/arrow-l.png) no-repeat center;
    height: 100px;
    width: 100px;
    z-index: 999;
}

.horizontalCard-blurImg:after {
    content: '';
    position: absolute;
    top: 40%;
    right: 20px;
    background: url(../image/arrow-r.png) no-repeat center;
    height: 100px;
    width: 100px;
    z-index: 999;
}

.horizontalCard__img {
    padding: 0 30px;
    align-self: center;
}

.horizontalCard-blurImg {
    background: url(../image/bg-banner.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.horizontalCard__text {
    align-self: center;
    margin-left: 40px;
    margin-bottom: 50px;
}

.horizontalCard__text-white {
    color: #fff;
}

.horizontalCard__header-main {
    font-size: 2.813em;
    font-family: SegoeWP, serif;
    font-weight: normal;
}

.horizontalCard__context-main {
    font-size: 1.563em;
    font-family: SegoeWP, serif;
    line-height: 35px;
    font-weight: normal;
}

.horizontalCard__button {
    text-decoration: none;
}

.horizontalCard__button-main {
    background-color: #5094f2;
    color: #fff;
    font-size: 1.250em;
    line-height: 70px;
    padding: 5px 15px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: SegoeWP, serif;
}

.horizontalCard__button-main > i {
    margin-right: 5px;
}

.category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: SegoeWPN, serif;
}

.smallCard {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    text-align: center;
    margin: 50px 0;
}

.smallCard__img {
    margin: 0 auto;
    max-width: 200px;
}

.smallCard__header-main {
    color: #5094f2;
    font-size: 1.250em;
    margin-bottom: 5px;
    font-weight: normal;
}

.smallCard__context-main {
    color: #909090;
}

.shop {
    font-family: SegoeWPN, serif;
    color: #6c6c6c;
}

.horizontalCard-bottom {
    flex-wrap: wrap;
}

.horizontalCard__header-cartImg {
    font-size: 2.500em;
    text-align: center;
    margin-bottom: 5px;
}

.horizontalCard__header-cart {
    font-size: 1.563em;
    margin: 20px 0;
}

.footer__text {
    text-align: center;
    font-family: "SegoeWPN-Light";
    font-size: 0.938em;
    padding: 20px;
}

@media screen and (max-width: 590px) {
    .navigation {
        display: none;
    }

    .header__shortNavigation {
        display: block;
    }

    .horizontalCard-blurImg {
        flex-wrap: nowrap;
    }
    .horizontalCard__text{
        font-size: 14px;
        margin: 0;
        flex-basis: 550px;
        padding: 0 20px;
    }
    .horizontalCard:after,
    .horizontalCard:before {
        display: none;
    }
    .smallCard{
        margin: 0;
        padding: 20px 0;
        flex-basis: 100%;
        text-align: left;
        align-items: center;
        border-bottom: 1px solid silver;
        flex-direction: row;
    }
    .smallCard__img {
        max-width: 100px;
        margin: 0;
        padding: 0 20px;

    }
    .smallCard__text {

    }
}

@media screen and (max-width: 450px ) {
    .horizontalCard {
        flex-wrap: wrap;
    }
}
