* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.dynamic {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 700px;
    width: 700px;
}

.dynamic__item {
    position: absolute;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);

}

.dynamic__item:hover {
    z-index: 1;
}

.dynamic__item-red {
    background-color: #ff0000;
    top: 15%;
    left: 15%;

}

.dynamic__item-blue {
    background-color: #0030ff;
    top: 37%;
    left: 17%;
}

.dynamic__item-green {
    background-color: #54ff00;
    top: 17%;
    left: 37%;
}

.dynamic__item-yellow {
    background-color: #ffe400;
    top: 39%;
    left: 39%;
}

.dynamic__dot {
    position: absolute;
    background-color: #2c3e50;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    height: 27%;
    width: 27%;
}

.dynamic__item:hover .dynamic__dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 8%;
    background-color: #000;
    transform: translate(-50%, -50%);
}

.dynamic__item:hover .dynamic__dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 8%;
    width: 80%;
    background-color: #000;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
    .dynamic{
        flex-direction: column-reverse;
        width: initial;
        height: initial;
    }
    .dynamic__item{
        position:relative;
        top: 0;
        left: 0;
        transform: initial;
    }
}
